/* Reseta o padding, margin e define o box-sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Define o estilo do body para centralizar todo o conteúdo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    flex-direction: column;
    text-align: center;
}

/* Estilo do título */
.header {
    margin-bottom: 20px;
}

/* Container principal da urna */
.urna-container {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 400px;
    background-color: bisque;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Estilo da tela da urna */
.urna-tela {
    flex:5;
    background-color: #111;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 20px;
}

#tela-candidato {
    font-size: 24px;
    font-weight: bold;
}

#tela-nome {
    font-size: 20px;
    font-weight: bold;
}

#tela-status {
    font-size: 16px;
    color: #ccc;
}

/* Estilo dos botões de número */
.urna-botoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    flex: 3;
    background-color: black; /* Fundo preto para os botões de números */
    padding: 10px;
    border-radius: 8px;
}

/* Estilo comum dos botões */
.botao {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #0056b3;
}

.botao:active {
    background-color: #003d7a;
}

/* Estilo dos botões laterais */
.urna-botoes-laterais {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botao-lateral {
    border: none;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.branco {
    background-color: #F4F4F4; /* Cor do botão BRANCO */
    color: black;
}

.branco:hover {
    background-color: #d3d3d3;
}

.corrigir {
    background-color: #FF9900; /* Cor do botão CORRIGIR */
}

.corrigir:hover {
    background-color: #cc7a00;
}

.confirmar {
    background-color: #008000; /* Cor do botão CONFIRMAR */
}

.confirmar:hover {
    background-color: #006400;
}
