*{ margin: 0;
padding: 0;
box-sizing: border-box;
}
h1  {color: blue;
    background-color: aliceblue;
    padding:  5px 50px;
    margin: 5px 0 15px 0;

}
body{width: 100vw; 
    height: 100vh;
    background-color: rgb(0, 119, 255);
    display: flex;
    background-image: url(./download\ \(1\).jpeg);
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#box {
    padding: 42px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    display: flex;



}